.venv/
__pycache__/
*.pyc
*.egg-info/
telegram_tts*.wav
test.wav
tts_test.wav
config.json
main_v0_backup.py
reachy_mini_telegram_speaker/antenna_test.py
reachy_mini_telegram_speaker/emotion_test.py
antenna_test.py
emotion_test.py